{% extends "layout.html" %}
{% block title %}form{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Kolla elpriser för specifik dag</h1>
                <form action="/priser" method="post">
                    <label for="year">År:</label><br/>
                    <input type="text" id="year" name="year"><br/>

                    <label for="month">Månad:</label><br/>
                    <input type="text" id="month" name="month"><br/>

                    <label for="day">Dag:</label><br/>
                    <input type="text" id="day" name="day"><br/>

                    <label for="area">Prisområde (SE1–SE4):</label><br/>
                    <input type="text" id="area" name="area"><br/>

                    <button type="submit">Visa priser</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}